<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout3}">

<div layout:fragment="content">
    <span>경매 아이템 리스트</span>
    <table class="table" id="itemTable">

        <thead>
        <tr>
            <th scope="col">NO.</th>
            <th scope="col">상품명</th>
            <th scope="col">수수료</th>
            <th scope="col">경매시작금액</th>
            <th scope="col">낙찰금액</th>
            <th scope="col">경매기간</th>
            <th scope="col">경매종료일</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${auctionList}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.itemName}"></td>
            <td th:text="${item.commission}"></td>
            <td th:text="${item.bidPrice}"></td>
            <td th:text="${item.finalPrice}"></td>
            <td th:text="${item.auctionPeriod}"></td>
            <td th:text="${item.auctionEndDate}"></td>
            <td><a th:href="@{/admin/auction/{id}(id=${item.id})}">상세보기</a></td>
        </tr>
        </tbody>

    </table>
</div>

<!-- 페이징 처리 -->
<div>
    <ul class="pagination">
        <li class="page-item" th:classappend="${auctionList.hasPrevious()}?'':'disabled'">
            <a th:href="@{/auction/items(page=${auctionList.number - 1}, size=${auctionList.size})}" class="page-link">이전</a>
        </li>

        <th:block th:each="page : ${#numbers.sequence(0, auctionList.totalPages - 1)}">
            <li class="page-item" th:classappend="${auctionList.number == page}?'active':''">
                <a th:href="@{/auction/items(page=${page}, size=${auctionList.size})}" class="page-link" th:text="${page + 1}"></a>
            </li>
        </th:block>

        <li class="page-item" th:classappend="${auctionList.hasNext()}?'':'disabled'">
            <a th:href="@{/auction/items(page=${auctionList.number + 1}, size=${auctionList.size})}" class="page-link">다음</a>
        </li>
    </ul>
</div>

</html>