<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">


<div layout:fragment="content">
  <h1>마일리지 내역</h1>

  <table border="1">
    <thead>
    <tr>
      <th>일시</th>
      <th>변동 금액</th>
      <th>유형</th>
      <th>상세</th>
    </tr>
    </thead>
    <tbody>
    <!-- 마일리지 내역을 테이블로 출력 -->
    <tr th:each="history : ${historyList}">
      <td th:text="${history.transactionDate}"></td>
      <td th:text="${history.amount}"></td>
      <td th:text="${history.type}"></td>
      <td th:text="${history.description}"></td>
    </tr>
    </tbody>
  </table>

  <br>
  <a href="/mileage/chargeForm">마일리지 충전</a>

</div>
</html>