<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <!--   다른페이지에 포함시킬 영역을 th:fragment 로 선언    -->
    <!--   사용은 layouts/layout1.html 파일에서 <div th:replace="~{fragments/footer::footer}"></div>     -->
    <footer class="page-footer font-small cyan darken-3">
        <div class="footer-copyright text-center py-3">
            Whatever You Want I Need since 2024. 10. 28<br />
            문지현, 함시은  <br />
            양승환, 김우혁
        </div>
    </footer>
</div>
</html>