<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
  <style>
    .bd{padding-left: 10px;}
    h3{font-family:"맑은 고딕";}
    span{color: red;}
    .box{border: black 1px solid;}
  </style>
</th:block>

<div layout:fragment="content">

  <div class="bd">
    <h3>1. 현지 상거래 룰을 따르게 됩니다.</h3>
    <p>
      해외의 사이트마다 각각의 이용약관이 있습니다.<br />
      한국과 비교해서 큰 차이는 아니라 하더라도 온라인 쇼핑몰의 발달 정도에 따라 <br />
      서비스 형태와 질적인 측면이 기대하신 수준과 차이가 발생할 수도 있습니다.
    </p>

    <h3>2.  출품자의 평가와 출품지역을 자세히 확인후 진행 바랍니다.</h3>
    <p>
      옥션은 중국등 해외에서 출품 하는경우가 있기 때문에 설명란에 배송료등 출품자 발송 지역을 상세히 확인을 하여야 합니다.<br />
      자칫 사기를 당하였을 경우 보상 규정이 없으므로 평가부분과 배송료등 출품지역을 숙독후 주문 신청 부탁 드립니다.<br />
      가품의 구입등 사기에 대해서 일절 보상 규정이 없는 상태 이기 때문에 필히 확인후 입찰 및 구매를 하여 주시길 부탁 드립니다.
    </p>

    <h3>3. 옥션 입찰 시에는 2가지를 꼭 확인하시고 진행 바랍니다.</h3>
    <p>
      옥션에서 입찰을 한다는 것은 꼭 구매의사를 가지고 진행하셔야 합니다.<br />
      입찰하여 낙찰된 경우에도 변심으로 인해 1차 결제를 해주지 않는 분들이 종종 있습니다.<br />
      이에 1차 강제결제 또는 패널티를 부여하는 등의 조치를 취하고 있으나 고객과 당사 간의 트러블의 원인이<br />
      되므로 입찰 시에는 꼭 구매의사가 있을 때 진행 부탁 드립니다.<br />
      옥션에서 $1 스타트 출품건은 낚시인 경우가 많습니다.<br />
      상품가는 $1이지만 배송비를 과다하게 청구하는 등 이에 속는 고객분들이 많이 계셔서 트러블의 원인이 되는 경우가 많습니다.<br />
      시세보다 싼 가격은 일단 의심하시고 보셔야 합니다. 세상에 공짜 없습니다.<br />
      일단 낙찰이 된 건은 취소를 할시 패널티비용이 발생하므로 입찰 때 신중하게 결정하시길 바랍니다.
    </p>


    <h3>4. 옥션, 즉시판매, 구매대행은 철저하게 개인간의 거래로 규정하고 있습니다.</h3>
    <p>
      해당사이트에서는 물품 낙찰/구매와 동시에 통보 역할만 수행하고 대금 결제에서 배송까지는 각각의 개인이 그 역할을 담당합니다.<br />
      해외에서는 기본적인 개인 신용 거래로 규정하고 있는 국가가 많기 때문에, 한국방식과는 차이가 있습니다.<br />
      따라서 해당사이트를 이용할 시에는 출품자평가, 상품정보 등을 꼼꼼하게 살펴보신 후에 입찰을 결정하시기 바랍니다.<br />
      해당사이트는 상점 또는 출품자의 사기 행위등 어떠한 경우에도 책임의무를 가지지 않습니다.
    </p>

    <h3>5. 우선적으로 고려하셔야 할 것은 국제 배송료와 관세입니다.</h3>
    <p>
      해외 현지에서 상품을 구입하는 데 있어 우선해서 고려하셔야 할 것은 국제 배송료와 관세입니다.<br />
      무조건 싸다고 해서 구입하실 것이 아니라 국제 배송료를 결정하는 물품 무게와 <br />
      관세를 고려하셔서 상품을 선택하시는 꼼꼼함과 현명함이 요구됩니다.<br />
      값이 싸다고 해서 지나치게 무거운 물건을 구입하실 경우 배보다 배꼽이 더 크질 수도 있습니다.
    </p>

    <h2>입찰방법</h2>
    <h3>경매상품 입찰 및 즉결구매</h3>
    <p>
      원하시는 상품을 찾으셨다면, 경매 제품의 상세페이지에서 입찰을 하실 수 있습니다.<br />
      [입찰금액]란에 입찰하실 금액을 입력하고, [옵션메모]란에 사이즈 및 색상 옵션이 있을경우, 입력합니다.<br />
      [입찰하기]버튼을 클릭하시면 입찰이 이루어 집니다.<br />
      즉시구매가 가능한 상품인 경우 [즉시구매]버튼을 클릭하시면 즉결가격으로 바로구매가 이루어 집니다.
    </p>
    <p class="box">
      <span>입찰 취소</span><br />
      직접 입찰 후 최고 입찰자가 된 상태에서는 입찰을 취소 할 수 없습니다.<br />
      예약 입찰의 경우 예약 입찰 시도전(경매 종료15분전) 이라면 입찰을 취소 할 수 있습니다.<br />
      취소하는 방법은 마이페이지의 입찰내역 리스트에서 취소하고자 하는 상품을 선택한 후 삭제버튼을 클릭하면 됩니다.
    </p>
  </div>
</div>
</html>