<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
  <style>
    .bd{padding-left: 10px;}
    h3{font-family:"맑은 고딕";}
  </style>
</th:block>

<div layout:fragment="content">
  <div class="bd">
    <h3>보상안내</h3>
    <p>
      ※ 안심 포장 보완 (상품가격 + 현지배송료의 5%/최소비용 각 건당 $2)<br />
      완충재를 사용하여 포장보완을 실시합니다.<br />
      통합배송 시, 각 건의 포장 겉박스를 제거하여 부피/무게를 최소화합니다.<br />
      보험의 성격을 띄는 포장보완 서비스로 파손 발생 시, 최대 20만원까지 보상해 드립니다.<br />
      ( ※단, 보상대상에서 관부가세, 주류세 각종 세금 등은 제외됩니다. )<br />
    </p>

    <h3>파손접수시 필수 자료항목</h3>
    <p>
      포장박스에 붙여진 운송장 번호 등의 확인을 위해 정확한 사진 첨부요망<br />
      물품 포장상태가 확인 가능한 사진<br />
      파손된 부분이 확인 가능한 물품 사진<br />
      위의 내용이 누락할 경우 보상이 불가하므로, 반드시 항목을 체크해주시기 바라며, 운송장, 배송된 박스의 상태
    </p>

    <h3>배송수단에 따른 기준</h3>
    <p>
      1) 우체국 EMS 특급 배송의 경우<br />
      1. $2,000 미만인 경우, 해상 보험에 가입하지 않더라도 자동적으로 보험이 적용되며 파손이나 분실 시 우체국 배상 규정에 따라 보상될 수 있습니다.<br />
      2. $2,000을 초과하는 상품의 경우, 별도의 해상 보험에 가입되어야만 배상이 가능 하며, 해상 보험에 가입된 상품이라도 <br />
      포장 상태가 불량하여 파손 등의 사고가 발생된 경우라면 보상될 수 없는 것으로 포장 상태가 매우 중요합니다.<br />
      3. 발생한 관,부가세는 보상 금액에서 제외됩니다.<br />

      2) 항공일반, 해운일반의 경우<br />
      현재 항공일반과 해운일반은 해당사이트와 계약된 민간 특송 업체(이하 특송사)로 진행되고 있으며 사고 발생시<br />
      아이템의 특성, 배송상황, 포장보완신청 여부 그리고 보험가입 여부 등을 고려하여 보상금액을 측정하고 있습니다.<br />
      사고 발생시 필수 자료항목을 정리하여 1:1 문의 게시판에 등록해 주셔야 합니다.<br />
      외관, 내부, 파손 부분에 대한 사진이 없는 경우 특송사에 파손 접수가 불가능 합니다.
    </p>
  </div>
</div>
</html>