<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
    <style>
        .bd{padding-left: 10px;}
        h3{font-family:"맑은 고딕";}
        span{color: red;}
    </style>
</th:block>

<div layout:fragment="content">
    <div class="bd">
        <h3>배송안내</h3>
        <h4>개별배송 원칙</h4>
        <p>1차 결제된 금액이 주문번호별 상품가액이며, 2차 결제금액은 관세에 포함되지 않습니다.<br />>
            총 1차 결제된 삼품가액이 US$ 150을 넘는 경우 관세를 내야합니다. <br />
            따라서 관세를 내는 것이 유리한지 국제배송비를 줄이는 것이 유리한지 판단해서 통합을 원하시는 경우 <br />
            진행중인 내용에 통합신청을 하시기 바랍니다. <br />
            WYWIN은 통합배송 신청이 없는 경우 개별배송을 원칙으로 합니다.</p>
        <br />
        <h4>개별배송</h4>
        <p>주문한 1건의 경매물품이나 구매물품을 배송하는 방식</p>

        <h4>통합배송시 유의할 점</h4>
        <p>
            1. 신청하신 여러 상품이 한 박스에 동봉된 상태로 현지창고에 도착한 경우,<br />
            구매통합신청시 해당 한 박스에 동봉된 물품을 분할 신청하면 포장 진행이 불가하므로 <br />
            한 번에 신청해주시길 바랍니다.<br />
            부득이 분할을 원하시는 경우에는 1:1 문의에 분할신청해 주시면 수수료를 부과하고 진행을 도와 드립니다.<br />
            2. 사전에 분할신청 없이는 동봉된 상품이 물품 관세가 넘어도 예외없이 분할은 불가하오니 유의 부탁드립니다.<br />
            3. 통합배송을 통해서 한 번에 물품을 받아 보실 수 있지만, 여러 물품이 모두 당사의 물류센터에 도착시까지<br />
            기다렸다가 신청 가능하시므로 시간적으로 지연될 수 있습니다.<br />
            4. 통관시에 통합관세로 책정되어 관세가 부과될 수 있습니다.<br />
            5. 단일 물품들을 한꺼번에 패키지로 포장하면서 통합수수료가 발생합니다.
        </p>

        <h3>운송수단별 안내</h3>
        <h4>항공일반</h4>
        <p>
            배송기간 4~6일 소요<br />
            -현재 화물 위치 추적이 가능합니다<br />
            -<span>유리 및 사기제품, 상품케이스 파손 등은 보상이 불가합니다.</span>
        </p>

        <h4>EMS</h4>
        <p>
            배송기간 2~4일 소요<br />
            30kg까지 취급 길이 1.5m미만<br />
            -안전하고 가장 빠른 운송수단<br />
            -현재 화물 위치 추적이 가능합니다.<br />
            -<span>유리 및 사기제품, 상품케이스 파손 등은 보상이 불가합니다.</span>
        </p>

        <h4>해운일반</h4>
        <p>
            배송기간 5~8일 소요<br />
            -현재 화물 위치 추적이 가능합니다.<br />
            -<span>유리 및 사기제품, 상품케이스 파손 등은 보상이 불가합니다.</span>
        </p>

        <h4>해운특수</h4>
        <p>
            매주 화,목,금, 주 3회 출하<br />
            -금요일 출하는 목요일 14시까지 결제 완료된 상품만 출하<br />
            -배송기간 5~8일 소요<br />
            -부피상관없이 실무게로만 측정<br />
            -현재 화물 위치 추적이 가능합니다.<br />
            -<span>유리 및 사기제품, 상품케이스 파손 등은 보상이 불가합니다.</span>
        </p>
    </div>
</div>
</html>