<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
    <style>
        .bd{padding-left: 10px;}
        h3{font-family:"맑은 고딕";}
        .box{border: whitesmoke 1px solid;}
        span{font-size: 1.2em;}
        .warn{color: red;}
    </style>
</th:block>

<div layout:fragment="content">
    <div class="bd">
        <h3>1. 구매자의 변심에 의한 취소</h3>
        <h4>낙찰취소 패널티</h4>
        <p>
            <span>경매대행 </span><br />
            ● 취소 신청할 상품 경매 종료전 : <br />
        <p class="box">
            상품가격 $2,000 미만 -----> $1,000 (취소수수료)<br />
            상품가격 $2,000 이상-----> $2,000(취소수수료)
        </p>
        취소 수수료을 결제해 주시면, 관리자가 확인 후, 출품자에게 문의하여 출품자가 승인해 주면 입찰은 <br />캔슬이 되나,
        승인해 주지 않을 경우 낙찰된 상품은 낙찰 후의 취소항목으로 넘어가며 결제하신 캔슬수수료는 환불되지 않습니다.<br />

        ● 상품 낙찰 후의 구입취소 :<br />
        <p class="box">
            낙찰가격 $1,000 이하 : 일률 $300의 취소수수료<br />
            낙찰가격 $1,000엔 이상 : 낙찰가격의 30%의 취소수수료
        </p>
        낙찰가격에 따른 취소수수료 + 물품인수에 소요된 비용(대행수수료, 일본내배송료, 송금수수료, <br />
        재출품시의 출품 및 낙찰수수료(물품가액의 10%) 등) = 구입취소 총비용<br />
        낙찰된 상품을 취소하면 이랏샤이마세의 야후아이디에 나쁜평가을 받게 되어 이랏샤이마세를 이용하<br />
        시는 다른 고객님들께 피해가 발생하므로,낙찰된 상품은 이랏샤이마세가 인수하여 처분을 하게 되며,<br />
        상품인수와 상품처분을 위한 재출품시에 발생하는 비용은 고객님께서 부담하셔야 됩니다.<br />
        <br />
        <span>구매대행</span><br />
        1차결제를 한 후나 또는 물품이 현지 배송이 완료 된 이후 일절 취소가 불가능 합니다.<br />
        </p>
        <h3>2. 출품자실수로 인한 취소</h3>
        <p>
            출품자에게 송금하기 전 출품자 잘못(재고부족, 낙찰 후 상품파손 등)으로 인해 취소가 되었을 경우 전액 환불 조치합니다.<br />
            <br />
            * 판매자 사정으로 인한 취소 및 구매 전 단계에서 관리자 판단에 의한 취소<br />
            방치매물 또는 판매자 각종 사정으로 인하여 취소되는 경우가 있습니다.<br />
            이 때에는 확인이 된 시점에서 취소 처리 하고 있습니다.<br />
            또 구매 하는 단계에서 접수해 주신 해당 물품의 판매자가 과거 당사 계정에 좋지 않은 평가 유무 및 차단 등의 이유로<br />
            관리자 주관적 판단으로 문제의 소지가 있다고 판단되는 경우에는 구입이 가능한 상품이라고 하여도 주문 전 취소 처리 할 수 있습니다.
        </p>

        <h3>3. 물품인수 후 상이한 상품 및 상태불량</h3>
        <p>
            1) 출품자가 반품,교환 혹은 환불 요구를 받아들일 경우<br />
            - 발생된 경비와 발생될 경비는 본인이 부담해야 하며, 대행수수료 역시 환불되지 않음.<br />
            (교환시 왕복국제배송료 중 1회는 이랏샤이마세에서 부담)<br />
            - 발생된 경비 : 현지송금료 + 현지운송료 + 국제운송료 + 대행수수료 등<br />
            - 발생될 경비 : 반품의 경우 국제운송료, 교환의 경우 왕복 국제운송료<br />

            2) 출품자가 반품 혹은 환불 요구를 받아들이지 않을 경우<br />
            - 출품자의 잘못이 명확할 경우 출품자 고발 조치 (경매사이트, 경찰)<br />
            이 경우 금전적인 보상이 되지 않으니 반드시 입찰 전에 출품자 신용조회, 출품자에게 질문하기 등을 통해 위험요소를 최소화 하시기 바랍니다.
        </p>

        <h3>4. 배송중 파손, 분실이 된 경우</h3>
        <p>
            배송회사 (우체국, 선사, 택배회사 등) 잘못으로 파손 혹은 분실되는 경우<br />
            배송회사에 손해배상 요구를 대행해 줍니다. 본인이 직접 해야 할 경우도 있습니다.<br />
            <span class="warn">주의 : 깨지기 쉬운 상품 (유리, 레진완성품, 도자기 류, 플라스틱류 기계)은
            파손시 보상이 불가하기때문에 반드시 단독 배송으로 신청하시기 바랍니다.</span>
        </p>

        <h3>5. 통관과정에서 발생되는 클레임</h3>
        <p>
            배송회사 (우체국, 선사, 택배회사 등) 잘못으로 파손 혹은 분실되는 경우 입제한 품목으로 통관이 안되는 경우는<br />
            아무런 보상이 되지 않으니 입찰을 하지 마시기 바랍니다.<br />
            한국으로 반입불가, 매매불가의 상품을 낙찰받은 경우 상품대금과 국내배송료, 대행수수료 등의 부대비용을<br />
            전액 회원님이 부담해셔야 되고 상품은 해당사이트에서 소각처분하게 됩니다.
        </p>
        <h3>6. 교환</h3>
        <p>
            해당사이트의 실수인 경우 -<br />
            해당사이트에서 책임을지며, 환불 또는 교환해 드립니다.<br />
            <br />
            출품자의 실수인 경우 -<br />
            한국에서 해외까지의 배송료 + 해외에서 한국으로의 배송료 + 교환 대응 수수료 $50<br />
            (출품자분과 연락을 주고 받아야 하며 한국에서 교환품을 수령후 출품자에게 보내는 작업과 <br />
            다시 출품자로 부터 교환 상품 수령후 한국으로 보내는 절차에 대한 대응 수수료 입니다.)<br />
            * 참고로 검수 서비스 이용 하시면 문제를 사전에 방지 할수 있습니다.<br />
            <br />
            고객님의 실수인 경우 -<br />
            교환 대응 불가능 합니다.
        </p>
    </div>
</div>
</html>