<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
    <style>
        .bd{padding-left: 10px;}
        h3{font-family:"맑은 고딕";}
        .box {border: 1px solid black; width: auto; background-color: whitesmoke; margin: 10px;
            padding: 5px; border-radius: 15px;}
    </style>
</th:block>

<div layout:fragment="content">
    <div class="bd">
        <h3>서비스 안내</h3>
        <p>
            &nbsp;구매대행은 원하시는 상품을 해외에 있는 회원들이 대신 구매하여 배송하는 서비스입니다.<br />
            &nbsp;국내에서는 더이상 구하지 못하는 제품이나 해외에서는 유통되고 있는 경우도 있으며,<br />
            해외에서 아울렛이나 특별 할인 혜택을 받아 국내보다 더 낮은 가격으로 유통되는 제품이 많기때문에<br />
            국내에서 구매하는것보다 유리한 가격으로 거래를 할 수 있도록 하는 취지를 가진 서비스입니다.<br />
            &nbsp;영업시간내 구매한 건에 대해서는 기본적으로 취소가 불가능합니다.<br />
            &nbsp;단, 취소가 가능한 케이스도 있습니다.
        </p>
        <h4>취소 가능 케이스</h4>
        <p>
            1) 1차결제 전에 고객님이 직접 취소하는 경우<br />
            &nbsp;1차결제한 주문건은 취소 , 변경을 하실 수 없습니다.<br />
            &nbsp;예외적으로 게시판 문의등으로 관리자가 확인한 시점에 미주문으로 확인 되는 건에 한해서 <br />
            취소 처리 하고 있습니다.<br />
            &nbsp;검수서비스로 명백히 상품에 문제가 있다고 판명되었을 경우에는 각 판매처,판매자 정책의 따라 <br />
            환불/교환등의 대응을 할 수 있도록 하고 있습니다.<br />
            2) 게시판 문의 등으로 관리자가 확인한 시점에 미주문으로 확인 되는 경우<br />
            &nbsp;판매처 및 판매자 사정으로 인한 취소 또는 주문 내용의 변경이 확인 되었을 경우,<br />
            &nbsp;관리자가 확인하는 대로 취소 처리를 하고 있으며 이 내용을 알기 까지 시간이 걸릴 수 있습니다.
        <p class="box">
            &nbsp;※주문은 새벽시간을 제외하고 수시로 하므로 거의 대부분의 주문이 1차결제 직후 진행됩니다.<br />
            &nbsp;※시간한정옵션이 있거나 빠른 품절이 예상되는 주문의 경우 미리 관리자에게 알려주시면 도움이 됩니다.<br />
            &nbsp;※동일상점의 주문상품을 1건의 주문으로 요청할 경우 반드시 한번에 1차결제를 하여 주십시오.<br />
            &nbsp;또한, 이미 주문이 끝난 경우엔 추가를 하셔도 주문통합이 되지 않으니 주의하시기 바랍니다.
        </p>
        </p>

        <h3>구매대행시 꼭 알아두세요</h3>
        <p>
            1. 상품주문 시 반드시 아래의 사항을 정확히 표기하여 주셔야 합니다.<br />
            &nbsp;상품사진 / 상품명 / 구매수량 / 색상 / 사이즈 등 상품의 특징을 정확히 기입하여 주십시오.<br />
            2. 구매의도 없이 단순 가격만 알아보기 위해서 구매대행 요청을 올리시는건 다른 유저의 소중한 시간과
            신뢰를 상하게하는 행위이므로 자체 바랍니다.
            3. 해외에서 구매대행을 행하시는 회원분들 역시 상태, 색상, 사이즈 등 정확한 정보를 기제하여
            가격을 제시해 주시기 바랍니다.<br />
            4. 구매대행 역시 개인간의 거래를 기본으로 하기때문에 해당사이트에서는 특수한 경우를 제외하고는
            구매대행자의 사기 행위등 어떠한 경우에도 책임의무를 가지지 않습니다.
        </p>


    </div>
</div>
</html>