<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .bd{padding-left: 10px;}
        h1{font-family:"맑은 고딕";}
        td{text-align: center;}
    </style>
</th:block>


<div layout:fragment="content">
    <div class="bd">
        <h3>대행 수수료</h3>
        <ul>
            <li>경매대행 수수료 : $50</li>
            <li>구매대행 수수료 : $40</li>
            <li>※ 구매대행 수수료는 판매자와 구매자가 각각 $40을 분담</li>
        </ul><br />
        <div>통합배송 수수료
            <table border="1">
                <tr>
                    <td>수량</td>
                    <td>1개</td>
                    <td>2개</td>
                    <td>3개</td>
                    <td>4개</td>
                    <td>5개</td>
                    <td>6개</td>
                    <td>7개</td>
                    <td>~최대10개</td>
                </tr>
                <tr>
                    <td>수수료</td>
                    <td>$0</td>
                    <td>$2</td>
                    <td>$3</td>
                    <td>$4</td>
                    <td>$5</td>
                    <td>$6</td>
                    <td>$7</td>
                    <td>~$10</td>
                </tr>
            </table>
        </div><br />

        <div>
            <p>※ 규격외 추가요금<br />
                1. 무게 20kg이상 시, $60 별도 부과/ 이후 단위$4씩 부과<br />
                2. 한 변이 100cm이상이거나 세 변의 합이 160cm이상 시 $12 별도 부과<br />
                3. 요청이 없더라도 분할이 불가치하게 필요한 경우 포장된 박스당 $6 부과<br />
                4. 상품금액 $150 이상은 통관 수수료 $60 부과<br />
            </p>
        </div>

        <br />
        <h3>통합배속 수수료란?</h3>
        <p>
            통합배송은 고객님의 배송요청에 의해 복수의 상품을 한 상자로 통합하여 포장 후 출하하는 배송입니다.<br />

            고객님의 상품은 하기의 순서를 거쳐 고객님께 전달되어집니다.<br />
            상품구매 >현지 창고 상품 수령> 입고> 보관> 상품 픽업> 통합 포장> 인보이스 작성> 출하<br />

            상기의 과정을 거쳐 포장 및 출하가 이루어지며 상품의 통합 포장 과정에서 발생하는 수수료가 통합배송 수수료입니다.<br />
        </p>

        <br />
        <h3>통합배송의 상품 보완</h3>
        <p>
            포장 보완을 신청하지 않은 상품(미보완)은 판매자가 포장한 상태 국제배송 됩니다.<br />
            추가 포장 보완문의는 배송 메모에 기재 부탁드립니다.<br />
            <br />
            ※포장 보완요청 시 내장재 보완 및 추가 작업으로 수수료가 발생할 경우가 있습니다.<br />
            유리, 전자기기 등 파손 취약 상품의 경우 포장 보완 요청을 하지 않으셔도 포장 담당자의 판단으로 포장 보완이 이루어지며 수수료가 발생하는 경우가 있습니다.
        </p>
        <br />
        <h3>통합배송은 상품이 완벽하게 보존하도록 보완을 해드리는 서비스는 아닙니다</h3>
        <p>
            기본적으로 포장보완을 신청하지 않은 상품은 판매자가 포장한 상태 그대로 국제운송됩니다.<br />
            추가 포장보완문의는 1:1문의 포장보완 게시판으로 요청드립니다.<br />
            포장보완요청 시 내장재 보완및 추가작업으로 수수료가 발생합니다.<br />
            유리,기계류 등 파손에 취약한 상품인데 포장보완 요청을 하지 않으신 경우,<br />
            저희 측 물류담당자가 임의로 판단해 포장보완이 이루어지고 수수료를 요청하는 경우가 있습니다<br />
        </p>

        <br />

        <h3>검수 수수료</h3>
        <ul>
            <li>간단검수 수수료 : $10</li>
            <li>※ 현지 도착 후, 상품을 개봉하여 상품의 외관이 링크 사진과 일치하는지 육안으로 확인</li>
            <li>일반검수 수수료 : $20</li>
            <li>※ 간담거수와 더불어 상품의 옵션확인, 외관상 파손유무를 확인</li>
            <li>정품감정 수수료 : $50~$100</li>
            <li>※ 명품의 경우 전문가의 정/가품 유무를 확인하여 정품 인증서 발급</li>
            <br />
            <li>※ 검수를 원하지 않은 미검수 상태로 배송을 원하시면 수수료는 따로 들지 않습니다.</li>
        </ul>
    </div>

</div>
</html>